@import "../../../assets/scss/vars.scss";
@import "~govuk-frontend/settings/typography-font";

$value-list-margin: 1rem 0 !default;

////////////////////

:host {
    display: flex;
    flex-wrap: wrap;
    font-family: $govuk-font-family;
    margin: $value-list-margin;
}
