<header class="page__header" role="banner" data-module="header">
    <div class="page__header__inner">

        <!-- Hackney logo. -->
        <div class="page__header__column page__header__column--logo">
            <img class="page__header__logo" src="assets/img/hackney-logo-white.png" alt="Hackney">
        </div>

        <div class="page__header__column page__header__column--title">
            <p class="govuk-!-font-size-24 govuk-!-margin-bottom-1">NCC - CRM</p>
            <app-env-name class="govuk-body-s"></app-env-name>
        </div>

        <div class="page__header__column page__header__column--id">
            <!-- Display the current caller's name (if present) -->
            <app-current-caller allowAnonymous="true" withPrefix="true"></app-current-caller>

            <!-- Display the logged in agent's name and avatar. -->
            <app-agent></app-agent>
        </div>

    </div>
</header>
