@import "../../../../assets/scss/vars.scss";
@import "~govuk-frontend/govuk/settings/typography-font";

:host {
    color: inherit;
    font-family: $govuk-font-family;
}

.caller {
    color: inherit;
    margin: 0;
}

.caller--is-anonymous {
    font-style: italic;

    b { font-style: normal; }
}
