@import "../../../assets/scss/vars.scss";
@import "~govuk-frontend/all";

$preview-highlight-bg-colour: $govuk-focus-colour !default;
$preview-highlight-padding: .2em !default;

////////////////////

:host {
    ::ng-deep {
        // See https://stackoverflow.com/a/36265072/4073160
        .preview__highlight {
            background: $preview-highlight-bg-colour;
            padding: $preview-highlight-padding;
        }
    }
}
