<app-panel errorStyle="true" *ngIf="error; else displayPreview">
    <p class="govuk-heading-m govuk-!-margin-bottom-3">
        Preview unavailable
    </p>
    <p class="govuk-body govuk-!-margin-0">
        The preview for this template is not loading. If it persists you will need to contact ICT.
    </p>
</app-panel>

<ng-template #displayPreview>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

            <!-- Preview of the template. -->
            <app-panel class="govuk-form-group govuk-body" *ngIf="preview">
                <span *ngIf="loading">loading...</span>
                <span *ngIf="!loading" [innerHTML]="getCustomisedPreview()"></span>
            </app-panel>

        </div>

        <div class="govuk-grid-column-one-half" *ngIf="editPlaceholders">

            <!-- A warning for agents not to enter any sensitive data. -->
            <app-warning *ngIf="hasPlaceholders()">
                Don't put sensitive or personal information here without passing DPA questions,
                or you may breach GDPR.
            </app-warning>

            <!-- Fields for any customisable text. -->
            <div class="govuk-form-group" *ngFor="let label of placeholders; trackBy: trackByMethod">
                <label class="govuk-label" for="preview-ph-{{ label }}">
                    {{ sanitiseLabel(label) }}
                </label>
                <input class="govuk-input" id="preview-ph-{{ label }}" [name]="label" type="text" [(ngModel)]="settings.parameters[label]">
            </div>

        </div>
    </div>
</ng-template>
