@import "../../../assets/scss/vars.scss";
@import "~govuk-frontend/all";

$panel-bg-colour: govuk-colour("grey-3") !default;
$panel-margin: 1rem 0 !default;
$panel-padding: 1rem !default;

$panel-box-border-width: 2px !default;
$panel-box-border-colour: govuk-colour("grey-3") !default;

////////////////////

:host {
    background: $panel-bg-colour;
    display: block;
    font-family: $govuk-font-family;
    margin: $panel-margin;
    padding: 1rem;
    word-break: break-word;

    &.panel--box {
        background: transparent;
        border: $panel-box-border-width solid $panel-box-border-colour;
    }
}
