<app-error-panel *ngIf="error; else interface">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Types and reasons aren't loading</h2>
    <p class="govuk-body govuk-!-margin-bottom-0">
        There was a problem loading the call types and reasons. You will need to contact ICT to resolve this.
    </p>
</app-error-panel>

<ng-template #interface>

    <!-- The type of call. -->
    <div class="govuk-form-group">
        <label class="govuk-label" for="call_type">
            Select call type
        </label>
        <select class="govuk-select govuk-input--width-20" id="call_type" name="call_type" [(ngModel)]="selected.call_type"
            [disabled]="disabled || !this.call_types" (change)="resetCallReason()" (ngModelChange)="updateSelection()">
            <option [ngValue]="null" selected>- select a call type</option>
            <option *ngFor="let item of call_types; trackBy: trackByCallType" [ngValue]="item">{{ item.label }}</option>
        </select>
        <app-helper class="govuk-!-margin-left-3" title="">
            New call types or reasons may be added by Team Leaders via the Support Service.
        </app-helper>
    </div>

    <!-- The reason for the call. -->
    <div class="govuk-form-group">
        <label class="govuk-label" for="call_reason">
            Select call reason
        </label>
        <select class="govuk-select govuk-input--width-20" id="call_reason" name="call_reason"
            [(ngModel)]="selected.call_reason"
            [disabled]="!canSelectCallReason()" (ngModelChange)="updateSelection()">
            <option [ngValue]="null" selected>
                - select a call reason
            </option>
            <option *ngFor="let item of getCallTypeReasons(); trackBy: trackByCallReason" [ngValue]="item">
                {{ item.label }}
            </option>
            <option [ngValue]="OTHER" selected>
                Other
            </option>
        </select>

        <!-- A text field for entering a manual call reason (in the event of "other" being selected). -->
        <div class="govuk-form-group govuk-!-margin-top-1" *ngIf="isOtherReasonSelected()">
            <label class="govuk-label govuk-visually-hidden" for="call_reason_other">
                Specify the call reason:
            </label>
            <input type="text" class="govuk-input govuk-input--width-20" id="call_reason_other" name="call_reason_other"
                placeholder="Specify the call reason" maxlength="50" #otherReasonField
                [disabled]="disabled"
                [(ngModel)]="selected.other_reason" (ngModelChange)="updateSelection()">
        </div>
    </div>

    <!-- Secondary labels. -->

    <!-- Applying for a rent card... -->
    <!-- <div class="govuk-radios__conditional" [class.govuk-radios__conditional--hidden]="selected.call_reason !== reason"
        *ngIf="'Apply for a rent card' === reason.label">
        <p class="govuk-body">Do this on Universal Housing.</p>
    </div> -->

    <!-- Former tenancy arrears... -->
    <!-- <div class="govuk-radios__conditional" [class.govuk-radios__conditional--hidden]="selected.call_reason !== reason"
        *ngIf="'Check Former Tenancy Arrears' === reason.label">
        <p class="govuk-body">
            Do this on Universal Housing.<br>
            Do not add notes in CRM, add them in Universal Housing.
        </p>
    </div> -->

    <!-- Universal Credit... -->
    <!-- <div class="govuk-radios__conditional" [class.govuk-radios__conditional--hidden]="selected.call_reason !== reason"
        *ngIf="'Discuss Universal Credit' === reason.label">
        <p class="govuk-body">See Universal Housing for breakdown of charges.</p>
    </div> -->

</ng-template>
