.link-button {
    @extend .govuk-button;

    box-shadow: 0 $govuk-border-width-form-element 0 $govuk-border-colour;
    color: $govuk-text-colour;
    background-color: govuk-colour('white');
    border: 2px solid $govuk-border-colour;
    border-bottom-color: govuk-colour('white');
    vertical-align: middle; // for the benefit of anything appearing next to it horizontally.

    @include govuk-if-ie8 {
        border-bottom-color: $govuk-border-colour;
    }

    &:link,
    &:visited,
    &:active,
    &:hover {
        color: $govuk-text-colour;
    }

    &:hover,
    &:focus {
        background-color: govuk-colour('white');
    }

    @include govuk-compatibility(govuk_template) {
        &:link:focus {
            color: $govuk-text-colour;
        }
    }
}
