$page-footer-bg-colour: #252525 !default;
$page-footer-text-colour: #EEE !default;
$page-footer-border-width: 5px !default;
$page-footer-border-colour: #999 !default;
$page-footer-link-colour: #EEE !default;
$page-footer-padding: 1.5rem 2rem 1rem !default;
$page-footer-z-index: 10 !default;

////////////////////
@import "../mixins/hackney-stripes";

.page__footer {
    @include hackney-stripes--top;

    background-color: $page-footer-bg-colour;
    color: $page-footer-text-colour;
    margin-top: 0;
    padding: $page-footer-padding;
    text-align: center;

    a {
        color: $page-footer-link-colour;
    }
}
