// <section _ngcontent-c40="" class="ta-results list-group">
//     <div _ngcontent-c40="" class="ta-backdrop"></div>
//     <button _ngcontent-c40="" class="ta-item list-group-item" type="button">
//         <span><i class="fa fa-search"></i> rod@hackney.gov.uk</span>
//     </button>
// </section>

@import "../vars.scss";

$typeahead-text-size: 19 !default;
$typeahead-border-width: 2px !default;
$typeahead-border-colour: #000 !default;
$typeahead-item-padding: 0.5rem !default;
$typeahead-bg-colour: #FFF !default;
$typeahead-text-colour: #000 !default;
$typeahead-focus-bg-colour: #FC0 !default;
$typeahead-focus-text-colour: #000 !default;

////////////////////


.typeahead-container {
    display: inline;
    position: relative;
}

.ta-results {
    width: 100%;
}

.ta-item {
    @include govuk-font($size: $typeahead-text-size);
    display: block;
    position: relative;
    // padding: $list-group-item-padding-y $list-group-item-padding-x;
    // Place the border on the list items and negative margin up for better styling
    margin-bottom: -$typeahead-border-width;
    background-color: $typeahead-bg-colour;
    border: $typeahead-border-width solid $typeahead-border-colour;
    color: $typeahead-text-colour;
    text-align: left;
    width: 100%;

    span {
        display: block;
        padding: $typeahead-item-padding;
    }
    // Include both here for `<a>`s and `<button>`s
    &.active {
        background-color: $typeahead-focus-bg-colour;
        color: $typeahead-focus-text-colour;
        z-index: 2; // Place active items above their siblings for proper border styling
    }
}
