@import "../../../assets/scss/vars.scss";
@import "~govuk-frontend/helpers/colour";

$route-loader-bg-colour: govuk-colour("grey-3") !default;
$route-loader-bar-colour: govuk-colour("blue") !default;
$route-loader-bar-width: 200px !default;
$route-loader-height: 4px !default;
$route-loader-speed: 2s !default;

////////////////////

// Taken from https://www.pexels.com/blog/css-only-loaders/
.loader {
    background: $route-loader-bg-colour;
    display: block;
    height: $route-loader-height;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;

    &:before {
        display: block;
        position: absolute;
        content: '';
        left: -$route-loader-bar-width;
        width: $route-loader-bar-width;
        height: $route-loader-height;
        background: $route-loader-bar-colour;
        animation: loading $route-loader-speed linear infinite;
    }
}
@keyframes loading {
    from {
        left: -$route-loader-bar-width;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    70% {
        width: 70%;
    }

    80% {
        left: 50%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}
