<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <h1 class="govuk-heading-l">Callback completed</h1>

        <p>{{ callbackID }} &#8594; {{ email }}</p>

        {{ details | json }}

        <app-panel class="govuk-!-margin-bottom-5">
            <h2 class="govuk-heading-m">Note left by <b>[name]</b></h2>
            <p class="govuk-body">Message:</p>
            <p class="govuk-body">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>
        </app-panel>

        <p class="govuk-body govuk-!-margin-bottom-5">
            To add a note, write any action taken below.<br>
            This will go to UH Action Diary and CRM.
        </p>

        <div class="govuk-form-group">
            <label class="govuk-label govuk-visually-hidden" for="response">
                Your notes
            </label>
            <textarea class="govuk-textarea" id="response" name="response" rows="6" placeholder="Your note"></textarea>
        </div>

        <button class="govuk-button" type="button" name="button">Submit</button>

    </div>
</div>
