<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Communications</h1>

        <div class="govuk-inset-text">
            <p>
                <b>Standing order details</b><br>
                Bank name: Lloyds<br>
                Account number: 00641877<br>
                Sort code: 30-00-02
            </p>
        </div>

        <app-error-panel *ngIf="_error">
            <p class="govuk-heading-m govuk-!-margin-bottom-2">
                Communications unavailable
            </p>
            <p class="govuk-heading-s govuk-!-margin-bottom-2">
                The 3rd party system Gov Notify that send texts (SMS) and emails is currently not working. They will be working to fix the problem.
            </p>
            <p class="govuk-heading-s govuk-!-margin-0">
                If it persists then contact ICT.
            </p>
        </app-error-panel>

        <form (submit)="sendMessage($event)" *ngIf="!_error">

            <!-- Select the form to send. -->
            <app-comms-templates title="Select an item to send:" (selected)="selectedOption($event)"
                (error)="commsError()"></app-comms-templates>

            <!-- Select the communications method. -->
            <!-- Which methods are available will depend on the selected form (GOV.UK Notify template). -->
            <app-comms-method-select
                [disableEmail]="!isMethodAvailable(CONTACT_METHOD.METHOD_EMAIL)"
                [disableSMS]="!isMethodAvailable(CONTACT_METHOD.METHOD_SMS)"
                [disablePost]="!isMethodAvailable(CONTACT_METHOD.METHOD_POST)"
                (selected)="onSelectCommsMethod($event)"
                (invalidated)="onInvalidCommsMethod()"></app-comms-method-select>

            <!-- Previewing the message to be sent. -->
            <div *ngIf="shouldShowPreview()">
                <h2 class="govuk-label govuk-!-font-weight-bold">Preview message</h2>
                <app-notify-template-preview [(settings)]="preview"></app-notify-template-preview>
            </div>

            <!-- Send the message to the caller. -->
            <button type="submit" class="govuk-button" *ngIf="shouldShowSendButton()">
                {{ getSendButtonText() }}
            </button>

            <!-- Confirmation modal. -->
            <app-dialogue [(show)]="modal.confirmed" [buttonText]="'Done'">
                Message sent successfully.
            </app-dialogue>

            <app-dialogue [(show)]="modal.error">
                <app-warning>
                    There was a problem with sending the message.
                </app-warning>
            </app-dialogue>

        </form>

    </div>
</div>
