<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

                    <!-- The type of call. -->
                    <div class="govuk-form-group">
                        <label class="govuk-fieldset__legend govuk-fieldset__legend--s" for="call_type">
                            Log call type
                        </label>
                        <select class="govuk-select" id="call_type" name="call_type" [(ngModel)]="selected.call_type" (change)="resetCallReason()">
                            <option [value]="null" selected>- select a call type</option>
                            <option *ngFor="let item of call_types" [value]="item.id">{{ item.label }}</option>
                        </select>
                    </div>

                </div>

                <div class="govuk-grid-column-one-half">

                    <!-- The reason for the call. -->
                    <fieldset class="govuk-fieldset govuk-!-margin-bottom-5" *ngIf="isCallTypeSelected()">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading">
                                Log reason for call
                            </h2>
                        </legend>

                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item" *ngFor="let reason of getCallTypeReasons()">
                                <input class="govuk-radios__input" id="call-reason-{{ reason.id }}" name="call_reason" type="radio" [(ngModel)]="selected.call_reason" [value]="reason.id">
                                <label class="govuk-label govuk-radios__label" for="call-reason-{{ reason.id }}">{{ reason.label }}</label>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>

            <!-- Next button. -->
            <button class="govuk-button" *ngIf="canProceed()">
                Next
            </button>

        </form>

    </div>
</div>
