<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

                    <!-- Type of call. -->
                    <div class="govuk-form-group">
                        <label class="govuk-fieldset__legend govuk-fieldset__legend--s" for="call_type">
                            Log call type
                        </label>
                        <select class="govuk-select" id="call_type" name="call_type"
                                ng-model="$ctrl.model.selected.call_type"
                                ng-change="$ctrl.resetCallReason()"
                                ng-options="type.id as type.label for type in $ctrl.model.call_types">
                            <option value="" selected>- select a call type</option>
                        </select>
                    </div>

                </div>

                <div class="govuk-grid-column-one-half">

                    <!-- The reason for the call. -->
                    <fieldset class="govuk-fieldset govuk-!-margin-bottom-5" ng-show="$ctrl.isCallTypeSelected()">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading">
                                Log reason for call
                            </h2>
                        </legend>

                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item" ng-repeat="reason in $ctrl.getReasonsForCallType()">
                                <input class="govuk-radios__input" id="call-reason-{{ reason.id }}" name="call_reason" type="radio"
                                        ng-model="$ctrl.model.selected.call_reason" ng-value="reason.id">
                                <label class="govuk-label govuk-radios__label" for="call-reason-{{ reason.id }}" ng-bind="reason.label"></label>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>

            <!-- Next button. -->
            <button class="govuk-button" ng-show="$ctrl.canProceed()">
                Next
            </button>

        </form>

    </div>
</div>
