<dialog class="dialogue" role="dialog" aria-labelledby="dialogue-title" [open]="show" (keyup.esc)="closeDialogue()">
    <div class="dialogue__box">

        <!-- Dialogue text. -->
        <div class="dialogue__text govuk-body govuk-!-margin-bottom-5">
            <div class="govuk-grid-row">
                <!-- First Column-->
                <div class="govuk-grid-column-two-thirds">

                    <!-- The type of call. -->
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="call_type">
                            What was the type of call?
                        </label>
                        <select class="govuk-select govuk-input--width-20" id="call_type" name="call_type" [(ngModel)]="selectedType" [disabled]="!this.callTypes" (ngModelChange)="updateSelection()">
                            <option [ngValue]="null" selected>- select a call type</option>
                            <option *ngFor="let item of callTypes; trackBy: trackByCallType" [ngValue]="item">{{ item.label }}</option>
                        </select>
                        <app-helper class="govuk-!-margin-left-3" below="true" title="">
                            New call types or reasons may be added by Team Leaders via the Support Service.
                        </app-helper>
                    </div>

                    <!-- The reason for the call. -->
                    <fieldset class="govuk-fieldset govuk-!-margin-bottom-5" *ngIf="isCallTypeSelected()">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading">
                        What was the reason(s) for the call?
                    </h2>
                        </legend>

                        <div class="govuk-checkboxes" data-module="radios">
                            <ng-template ngFor let-reason [ngForOf]="getCallTypeReasons()" [ngForTrackBy]="trackByCallReason">
                                <div class="govuk-checkboxes__item small-checkbox">
                                    <input class="govuk-checkboxes__input" id="call-reason-{{ reason.id }}" name="call_reason" type="checkbox" [(checklist)]="selectedReasonIds" (ngModelChange)="updateSelection()" [checklistValue]="reason.id" (checklistChange)="_mapSelectedCallReasonsToListOfReasons()">
                                    <label class="govuk-label govuk-checkboxes__label" for="call-reason-{{ reason.id }}">{{ reason.label }}</label>
                                </div>
                                <!-- A text field for entering additional text for "Existing Repair: Contractor" (in the event of "Existing Repair: Contractor" being selected). -->
                                <div class="govuk-form-group govuk-!-margin-left-8 govuk-!-margin-top-1" *ngIf="isExistingRepairContractorReasonSelected() && reason.id === optionExistingRepairContractor.id">
                                    <label class="govuk-label govuk-!-font-weight-bold govuk-visually-hidden" for="call_reason_existing_repair_contractor">
                                        Specify the call reason:
                                    </label>
                                    <input type="text" class="govuk-input govuk-input--width-20" id="call_reason_existing_repair_contractor" name="call_reason_existing_repair_contractor"
                                        placeholder="Specify the call reason" maxlength="50"
                                        #existingRepairContractorReasonField
                                        [(ngModel)]="existingRepairContractorReasonText[optionExistingRepairContractor.id]" (ngModelChange)="updateSelection()">
                                </div>

                                <!-- Secondary labels. -->

                                <!-- Applying for a rent card... -->
                                <div class="govuk-checkboxes__conditional" [class.govuk-radios__conditional--hidden]="!isReasonSelected(reason)" *ngIf="'Apply for a rent card' === reason.label">
                                    <p class="govuk-body">Do this on Universal Housing.</p>
                                </div>

                                <!-- Former tenancy arrears... -->
                                <div class="govuk-checkboxes__conditional" [class.govuk-radios__conditional--hidden]="!isReasonSelected(reason)" *ngIf="'Check Former Tenancy Arrears' === reason.label">
                                    <p class="govuk-body">
                                        Do this on Universal Housing.<br>
                                        Do not add notes in CRM, add them in Universal Housing.
                                    </p>
                                </div>

                                <!-- Universal Credit... -->
                                <div class="govuk-checkboxes__conditional" [class.govuk-radios__conditional--hidden]="!isReasonSelected(reason)" *ngIf="'Discuss Universal Credit' === reason.label">
                                    <p class="govuk-body">See Universal Housing for breakdown of charges.</p>
                                </div>
                            </ng-template>

                            <!-- Other (which should come last). -->
                            <div class="govuk-checkboxes__item small-checkbox">
                                <input class="govuk-checkboxes__input" id="call-reason-other" name="call_reason" type="checkbox"
                                    [(checklist)]="selectedReasonIds" [checklistValue]="optionOther.id"
                                    (ngModelChange)="updateSelection()" (checklistChange)="_mapSelectedCallReasonsToListOfReasons()">
                                <label class="govuk-label govuk-checkboxes__label" for="call-reason-other">{{ optionOther.label }}</label>
                            </div>
                        </div>

                        <!-- A text field for entering additional text for "other" (in the event of "other" being selected). -->
                        <div class="govuk-form-group govuk-!-margin-left-8 govuk-!-margin-top-1" *ngIf="isOtherReasonSelected()">
                            <label class="govuk-label govuk-!-font-weight-bold govuk-visually-hidden" for="call_reason_other">
                                Specify the call reason:
                            </label>
                            <input type="text" class="govuk-input govuk-input--width-20" id="call_reason_other" name="call_reason_other"
                                placeholder="Specify the call reason" maxlength="50"
                                #otherReasonField
                                [(ngModel)]="otherReasonText[optionOther.id]" (ngModelChange)="updateSelection()">
                        </div>
                    </fieldset>

                </div>

                <div class="govuk-grid-column-one-third">

                    <!-- LIST OF CURRENTLY SELECTED CALL REASONS. -->
                    <div *ngIf="selectedReasons">
                        <p class="govuk-heading-s" *ngIf="selectedReasons.length">Currently Selected</p>
                        <div class="govuk-checkboxes__item small-checkbox" *ngFor="let selectedReason of selectedReasons">
                            <input class="govuk-checkboxes__input" id="call-selected-reason-{{ selectedReason.callReasonId }}"
                                name="call_reason" type="checkbox"
                                (ngModelChange)="updateSelection()"
                                [(checklist)]="selectedReasonIds" [checklistValue]="selectedReason.callReasonId"
                                (checklistChange)="_mapSelectedCallReasonsToListOfReasons()">
                            <label class="govuk-label govuk-checkboxes__label" for="call-selected-reason-{{ selectedReason.callReasonId }}">
                                <strong>{{ selectedReason.callTypeLabel }}:</strong>
                                {{ selectedReason.callReasonLabel }}
                            </label>
                            <small class="missing-text govuk-body-s" *ngIf="isMissingReasonText(selectedReason.callReasonId)">
                                Missing reason text
                            </small>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="dialogue__buttons">

            <!-- "Yes" button. -->
            <button class="button dialogue__button dialogue__button--close govuk-button govuk-!-margin-bottom-0" type="button"
                [disabled]="!canSave()" (click)="answerYes()">
                Save and end call
            </button>

            <!-- "No" button. -->
            <button class="button dialogue__button dialogue__button--close link-button govuk-!-margin-bottom-0" type="button"
                (click)="answerNo()" #dialogueButton>
                Cancel
            </button>

            <app-error-panel *ngIf="error">
                <p class="govuk-body govuk-!-margin-bottom-0">
                    There was a problem ending this call, please try again.<br>
                    If this continues you will need to contact ICT.
                </p>
            </app-error-panel>

        </div>

    </div>
</dialog>
