<nav class="page__menu">
    <ul class="page__menu__list">
        <li class="page__menu__item page__menu__item--active"><a href="">Home</a></li>
        <li class="page__menu__item">
            <input type="checkbox" id="menu-call">
            <label for="menu-call">Call</label>
            <ul>
                <li><a href="">Item 1</a></li>
                <li><a href="">Item 2</a></li>
                <li><a href="">Item 3</a></li>
            </ul>
        </li>
        <li class="page__menu__item">
            <a href="">Log call</a>
        </li>
        <li class="page__menu__item">
            <input type="checkbox" id="menu-rent">
            <label for="menu-rent">Rent</label>
            <ul>
                <li><a href="">Item 1</a></li>
                <li><a href="">Item 2</a></li>
                <li><a href="">Item 3</a></li>
            </ul>
        </li>
        <li class="page__menu__item">
            <input type="checkbox" id="menu-comms">
            <label for="menu-comms">Comms</label>
            <ul>
                <li><a href="">Item 1</a></li>
                <li><a href="">Item 2</a></li>
            </ul>
        </li>
    </ul>

    <!-- Message to go here. -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio dolorem vitae! Ex natus sequi nesciunt autem unde distinctio, perspiciatis sapiente ipsam minus incidunt reprehenderit commodi provident dolor voluptate alias.</p>
</nav>
