<nav class="page__menu">
    <ul class="navigation__list">
        <!-- <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a routerLink="/home">Home</a>
        </li> -->
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a routerLink="/log-call">Log call</a>
        </li>
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a routerLink="/identify">Identify</a>
        </li>
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a routerLink="/comms">Comms</a>
        </li>
    </ul>

    <!-- Message to go here. -->
    <p class="navigation__message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio dolorem vitae! Ex natus sequi nesciunt autem unde distinctio, perspiciatis sapiente ipsam minus incidunt reprehenderit commodi provident dolor voluptate alias.
    </p>
</nav>
