<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- Search for contact details. -->
        <h2 class="govuk-heading-m">Search for contact details</h2>

        <!-- Search box - see https://github.com/alphagov/govuk-design-system-backlog/issues/132 -->
        <form action="1.2-identify.html">
            <app-panel class="govuk-!-margin-bottom-5">
                <div class="govuk-form-group govuk-!-margin-bottom-2">
                    <label class="govuk-label govuk-!-font-weight-bold" for="query">
                        Search by phone number, address or tenancy reference:
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="query" name="query" type="search">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0">
                        Search
                    </button>
                </div>
            </app-panel>
        </form>

        <!-- Option to mark the caller as anonymous. -->
        <button class="link-button">
            Anonymize
        </button>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    </div>
</div>

<!-- A list of up to ten previous calls. -->
<table class="govuk-table">
    <caption class="govuk-table__caption govuk-heading-m">Last ten calls</caption>
    <thead class="govuk-table__head">
        <colgroup>
            <col width="150">
            <col width="*">
            <col width="160">
            <col width="100">
            <col width="200">
        </colgroup>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Tenancy ref.</th>
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Time</th>
            <th class="govuk-table__header" scope="col">Reason for call</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                <a href="">09786/11</a>
            </th>
            <td class="govuk-table__cell">Mr A Bell</td>
            <td class="govuk-table__cell">24/07/2018</td>
            <td class="govuk-table__cell">23:59</td>
            <td class="govuk-table__cell">Pay Rent</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                <a href="">09786/12</a>
            </th>
            <td class="govuk-table__cell">Mr B Bell</td>
            <td class="govuk-table__cell">24/07/2018</td>
            <td class="govuk-table__cell">23:59</td>
            <td class="govuk-table__cell">General</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                <a href="">09786/13</a>
            </th>
            <td class="govuk-table__cell">Mr C Bell</td>
            <td class="govuk-table__cell">24/07/2018</td>
            <td class="govuk-table__cell">23:59</td>
            <td class="govuk-table__cell">Pay Rent</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                <a href="">09786/14</a>
            </th>
            <td class="govuk-table__cell">Mr D Bell</td>
            <td class="govuk-table__cell">24/07/2018</td>
            <td class="govuk-table__cell">23:59</td>
            <td class="govuk-table__cell">Pay Rent</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                <a href="">09786/15</a>
            </th>
            <td class="govuk-table__cell">Mr E Bell</td>
            <td class="govuk-table__cell">24/07/2018</td>
            <td class="govuk-table__cell">23:59</td>
            <td class="govuk-table__cell">ASB</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                <a href="">09786/16</a>
            </th>
            <td class="govuk-table__cell">Mr F Bell</td>
            <td class="govuk-table__cell">24/07/2018</td>
            <td class="govuk-table__cell">23:59</td>
            <td class="govuk-table__cell">General</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                <a href="">09786/17</a>
            </th>
            <td class="govuk-table__cell">Mr G Bell</td>
            <td class="govuk-table__cell">24/07/2018</td>
            <td class="govuk-table__cell">23:59</td>
            <td class="govuk-table__cell">Repairs</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                <a href="">09786/18</a>
            </th>
            <td class="govuk-table__cell">Mr H Bell</td>
            <td class="govuk-table__cell">24/07/2018</td>
            <td class="govuk-table__cell">23:59</td>
            <td class="govuk-table__cell">ASB</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                <a href="">09786/19</a>
            </th>
            <td class="govuk-table__cell">Mr I Bell</td>
            <td class="govuk-table__cell">24/07/2018</td>
            <td class="govuk-table__cell">23:59</td>
            <td class="govuk-table__cell">Pay Rent</td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                <a href="">09786/20</a>
            </th>
            <td class="govuk-table__cell">Mr J Bell</td>
            <td class="govuk-table__cell">24/07/2018</td>
            <td class="govuk-table__cell">23:59</td>
            <td class="govuk-table__cell">ASB</td>
        </tr>
    </tbody>
</table>
