<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Add notes to call</h1>

        <app-panel>
            <form (submit)="saveNote($event)">

                <div class="govuk-form-group govuk-!-margin-bottom-0">
                    <label class="govuk-label" for="more-detail">
                        Add a new note:
                    </label>
                    <textarea class="govuk-textarea govuk-!-margin-bottom-2" id="more-detail" name="more-detail" rows="3"
                        [disabled]="saving" [(ngModel)]="note"></textarea>
                </div>

                <button class="govuk-button govuk-!-margin-bottom-1" type="submit" name="button" [disabled]="!canSaveNote()">Save</button>

            </form>
        </app-panel>

        <!-- Notes filter. -->
        <form class="govuk-!-margin-bottom-5" (submit)="filterNotes()">
            <app-panel class="govuk-!-margin-top-0">

                <!-- Search by the call reason. -->
                <div class="govuk-form-group govuk-!-margin-bottom-2">
                    <label class="govuk-visually-hidden govuk-label govuk-!-font-weight-bold" for="filter-manual-reason">
                        Search by call reason
                    </label>
                    <input class="govuk-input govuk-!-margin-right-1" id="filter-manual-reason" name="filter-manual-reason"
                        type="search"
                        placeholder="Search by reason"
                        [(ngModel)]="filter_reason">
                </div>

                <!-- Search by the caller. -->
                <div class="govuk-form-group govuk-!-margin-bottom-2">
                    <label class="govuk-visually-hidden govuk-label govuk-!-font-weight-bold" for="filter-manual-caller">
                        Search by caller
                    </label>
                    <select class="govuk-select" name="filter-manual-caller" [(ngModel)]="filter_tenant">
                        <option [value]="null">All tenants</option>
                        <option *ngFor="let name of tenants_list" [value]="name">
                            {{ name }}
                        </option>
                    </select>
                </div>

                <!-- Buttons. -->
                <div class="govuk-form-group govuk-!-margin-bottom-2">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0 govuk-!-margin-right-1">
                        Search
                    </button>
                    <button type="button" class="link-button govuk-!-margin-bottom-0" (click)="clearFilter()">
                        Reset
                    </button>
                </div>

            </app-panel>
        </form>

        <!-- A list of notes. -->
        <app-uh-notes [tenancyReference]="getTenancyReference()" [filter]="filter.manual" [refresh]="refresh"></app-uh-notes>

    </div>
</div>
