<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- Search for contact details. -->
        <h2 class="govuk-heading-m">Search for contact details</h2>

        <!-- Search box - see https://github.com/alphagov/govuk-design-system-backlog/issues/132 -->
        <form action="">
            <div class="panel govuk-!-margin-bottom-5">
                <div class="govuk-form-group govuk-!-margin-bottom-2">
                    <label class="govuk-label govuk-!-font-weight-bold" for="query">
                        Search by postcode:
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="query" name="query" type="text" [(ngModel)]="postcode" [disabled]="_searching">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0" (click)="performSearch()" [disabled]="!canPerformSearch()">
                        Search
                    </button>
                </div>
            </div>
        </form>

        <!-- Option to mark the caller as anonymous. -->
        <button class="link-button govuk-!-margin-bottom-0" (click)="anonymousSelected()">
            Anonymous caller
        </button>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <!-- A list of addresses matching the search query. -->
        <app-address-search-results [results]="results" *ngIf="shouldShowAddresses()"
            (selected)="addressSelected($event)"></app-address-search-results>

        <!-- A list of tenants at the selected address. -->
        <app-address-tenants-results [address]="selected_address" *ngIf="shouldShowTenants()"
            (beginEdit)="tenantToEdit($event)"
            (selected)="tenantSelected($event)"
            (back)="backToAddresses()">
        </app-address-tenants-results>

    </div>

</div>
