@import "../../../../assets/scss/vars.scss";
@import "~govuk-frontend/all";

$value-list-label-margin: .25rem 0 !default;

$value-list-default-label-width: 40% !default;
$value-list-more-label-label-width: 75% !default;
$value-list-less-label-label-width: 25% !default;

////////////////////

:host {
    font-weight: bold;
    margin: $value-list-label-margin;
    width: $value-list-default-label-width;

    .less-label & {
        width: $value-list-less-label-label-width;
    }

    .more-label & {
        width: $value-list-more-label-label-width;
    }
}
