@import "../../../../assets/scss/vars.scss";
@import "~govuk-frontend/helpers/colour";

$account-balance-credit-colour: govuk-colour("green") !default;
$account-balance-debit-colour: govuk-colour("red") !default;

////////////////////

.inCredit {
    color: $account-balance-credit-colour;
}
.inDebit {
    color: $account-balance-debit-colour;
}
