<div *ngIf="!editing">
    <p class="message">
        {{ content }}
    </p>
    <button class="govuk-button" type="button" name="button" (click)="beginEdit()">Edit</button>
</div>

<!-- a form with a textarea field to edit text (if we are a team leader). -->
<form class="" method="post" *ngIf="editing">

    <div class="govuk-form-group">
        <label class="govuk-label" for="editorial">
            Editorial text
        </label>
        <textarea class="govuk-textarea" id="editorial" name="editorial" rows="5" [(ngModel)]="new_content"></textarea>
    </div>

    <button class="govuk-button govuk-!-margin-right-2" type="button" name="button" (click)="saveText()">Update</button>
    <button class="govuk-button" type="button" name="button" (click)="resetText()">Cancel</button>

</form>
