<!doctype>
<html lang="en" class="govuk-template" ng-app="hackney.ncc">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#0b0c0c">
    <title>AJ Testing</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <!--[if !IE 8]><!-->
    <link href="css/govuk-frontend-1.1.1.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/table-floating-header.css">
    <!--<![endif]-->

    <!--[if IE 8]>
        <link href="css/govuk-frontend-ie8-1.1.1.min.css" rel="stylesheet" />
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="/html5-shiv/html5shiv.js"></script>
    <![endif]-->
</head>
<body class="govuk-template__body page js-enabled">

    <!-- Accessibility link to skip to the main content. -->
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <!-- PAGE HEADER. -->
    <header class="page__header" role="banner" data-module="header">
        <div class="page__header__inner">
            <div class="page__header__column page__header__column--logo">
                <img class="page__header__logo" src="img/hackney-logo-white.png" alt="Hackney">
            </div>
            <div class="page__header__column page__header__column--title">
                <p class="govuk-!-font-size-24">NCC - CRM</p>
            </div>
        </div>
    </header>
    
    <!-- TEMPORARY PHASE BANNER. -->
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                Proto
            </strong>
            <span class="govuk-phase-banner__text">
                This is a prototype page.
            </span>
        </p>
    </div>

    <!-- Content area. -->
    <div class="page__middle">

        <!-- Navigation menu. -->
        <nav class="page__menu">
            <ul class="page__menu__list">
                <li class="page__menu__item page__menu__item--active"><a href="">Home</a></li>
                <li class="page__menu__item">
                    <input type="checkbox" id="menu-call">
                    <label for="menu-call">Call</label>
                    <ul>
                        <li><a href="">Item 1</a></li>
                        <li><a href="">Item 2</a></li>
                        <li><a href="">Item 3</a></li>
                    </ul>
                </li>
                <li class="page__menu__item">
                    <a href="">Log call</a>
                </li>
                <li class="page__menu__item">
                    <input type="checkbox" id="menu-rent">
                    <label for="menu-rent">Rent</label>
                    <ul>
                        <li><a href="">Item 1</a></li>
                        <li><a href="">Item 2</a></li>
                        <li><a href="">Item 3</a></li>
                    </ul>
                </li>
                <li class="page__menu__item">
                    <input type="checkbox" id="menu-comms">
                    <label for="menu-comms">Comms</label>
                    <ul>
                        <li><a href="">Item 1</a></li>
                        <li><a href="">Item 2</a></li>
                    </ul>
                </li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non distinctio dolorem vitae! Ex natus sequi nesciunt autem unde distinctio, perspiciatis sapiente ipsam minus incidunt reprehenderit commodi provident dolor voluptate alias.</p>
        </nav>

        <!-- MAIN CONTENT AREA. -->
        <main id="main-content" class="page__content">

            <!-- Back link. -->
            <a href="#" class="govuk-back-link">Back</a>

            <div class="govuk-main-wrapper" ng-controller="LogCallCtrl as ctrl">

                <h1 class="govuk-heading-m">AJ<s>AX</s> testing.</h1>

                <div class="govuk-radios" data-module="radios" ng-repeat="type in ctrl.model.call_types">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="call-type-{{ type.id }}" type="radio"
                                ng-model="ctrl.model.selected.type" ng-value="type.id" data-aria-controls="call-type-reasons-{{ type.id }}">
                        <label class="govuk-label govuk-radios__label" for="call-type-{{ type.id }}" ng-bind="type.label"></label>
                    </div>

                    <div class="govuk-radios__conditional" id="call-type-reasons-{{ type.id }}" ng-show="ctrl.model.selected.type === type.id">
                        <div class="govuk-radios__item" ng-repeat="row in ctrl.model.call_reasons[ type.id ]">
                            <input class="govuk-radios__input" id="call-reason-{{ row.id }}" type="radio"
                                    ng-model="ctrl.model.selected.reason" ng-value="row.id">
                            <label class="govuk-label govuk-radios__label" for="call-reason-{{ row.id }}" ng-bind="row.label"></label>
                        </div>
                    </div>
                </div>

            </div>

        </main>
    </div>

    <!-- PAGE FOOTER. -->
    <!-- (not in the sketch, but might be useful to have.) -->
    <footer class="page__footer">
        <a href="">Help</a>
        <a href="">Contacts</a>
        <a href="">A-Z of Services</a>
    </footer>
    
    <script src="css/govuk-frontend-1.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js" integrity="sha256-57LfeK2BvOobYQX2XI1cm6H+bqBPKEgr1KgV/zdycSs=" crossorigin="anonymous"></script>    <script src="js/angularjs-demo.js"></script>
    <script src="js/hackneyapi.factory.js"></script>
    <script src="js/log-call.controller.js"></script>
    <!-- <script src="js/aj.js"></script>
    <script src="js/hackneyapi.js"></script> -->
    <script>
        // window.GOVUKFrontend.initAll();
    </script>
</body>
</html>