
$value-list-horizontal-label-ratio: 1 !default;
$value-list-horizontal-value-ratio: 2 !default; // how wide the value area is compared to the label.
$value-list-horizontal-gap-ratio: 0.1 !default; // how wide the gap is compared to the label.
$value-list-ratio: 100 / ($value-list-horizontal-label-ratio + $value-list-horizontal-value-ratio + $value-list-horizontal-gap-ratio);

.value-list__label {
    font-weight: bold;
}

.value-list__value {
    margin-bottom: .5rem;
}

.value-list__value__line {
    display: block;
    margin-bottom: .2rem;
}

.value-list--horizontal {
    display: flex;
    flex-wrap: wrap;
}

.value-list--horizontal .value-list__label {
    width: ($value-list-ratio * $value-list-horizontal-label-ratio) * 1%;
    margin-right: ($value-list-ratio * $value-list-horizontal-gap-ratio) * 1%;
}

.value-list--horizontal .value-list__value {
    width: ($value-list-ratio * $value-list-horizontal-value-ratio) * 1%;
}

.govuk-fieldset__legend {
    width: 100%;
}
