
/* FOOTER */
.text-red {
    color: #B10E1E;
    /* govuk-colour('red') */
}

.text-green {
    color: #006435;
    /* govuk-colour('green') */
}

.panel {
    background: #DEE0E2;
    /* govuk-colour("grey-3") */
    padding: 1rem;
}

.box-panel {
    border: 1px solid #DEE0E2;
    /* govuk-colour("grey-3") */
    padding: 1rem;
}

.transactions {
    border: 1px solid #BFC1C3;
    /* $govuk-border-colour */
    max-height: 21rem;
    overflow: auto;
    padding: .5rem 1rem;
}

.transactions .transaction__amount {
    text-align: right;
}
/* LINK button style. */

.govuk-link-button {
    font-family: nta,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 22px;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-radius: 0;
    color: inherit;
    background-color: transparent;
    text-decoration: underline;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
}
@media print {
    .govuk-link-button {
        font-family: sans-serif;
    }
}
@media (min-width:40.0625em) {
    .govuk-link-button {
        font-size: 19px;
        line-height: 1;
    }
}
@media print {
    .govuk-link-button {
        font-size: 14pt;
        line-height: 19px;
    }
}

.govuk-link-button:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
}
@media (min-width:40.0625em) {
    .govuk-link-button {
        margin-bottom: 32px;
        width: auto;
    }
}

.govuk-link-button:active,
.govuk-link-button:hover,
.govuk-link-button:link,
.govuk-link-button:visited {
    color: inherit;
    text-decoration: none;
}

.value-list__label {
    font-weight: bold;
}

.value-list__value {
    margin-bottom: .5rem;
}

.value-list--horizontal {
    display: flex;
    flex-wrap: wrap;
}

.value-list--horizontal .value-list__label {
    flex-basis: 32%;
}

.value-list--horizontal .value-list__value {
    flex-basis: 68%;
}
