
.panel {
    background: #DEE0E2;
    /* govuk-colour("grey-3") */
    padding: 1rem;
}

.box-panel {
    border: 1px solid #DEE0E2;
    /* govuk-colour("grey-3") */
    padding: 1rem;
}

.govuk-fieldset__legend {
    width: 100%;
}
