$hackney-green: #17B15A;
$hackney-light-green: #9BCF7F;
$dark-grey: #252525;
$white: #FFF;

$disabled-opacity: .5;

// GOV.UK customisation.
$govuk-global-styles: false;
$govuk-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$govuk-font-family-tabular: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$govuk-brand-colour: $hackney-green;

$page-header-bg-colour: $dark-grey;
$page-header-testing-bg-colour: darken(#B10E1E, 20%); // dark red
$page-header-text-colour: $white;
$page-header-border-colour: $hackney-green;

$page-footer-border-colour: $hackney-light-green;
$page-footer-link-colour: $white;

$value-list-label-width: 50%;
$value-list-value-width: 50%;

// Z-index settings.
// Set as multiples of 10, old school like BASIC lines.
$page-footer-z-index: 10;
$note-form-z-index: 20;
$helper-text-z-index: 30;
$route-loader-z-index: 40;
$dialogue-z-index: 50;

@import "~govuk-frontend/govuk/helpers/colour";
@import "~govuk-frontend/govuk/settings/colours-applied";

$typeahead-bg-colour: govuk-colour("white") !default;
$typeahead-border-colour: $govuk-border-colour !default;
$typeahead-text-colour: $govuk-text-colour !default;
$typeahead-focus-bg-colour: $govuk-focus-colour !default;
$typeahead-focus-text-colour: $govuk-text-colour !default;
