
$hackney-green: #17B15A;
$hackney-light-green: #9BCF7F;
$white: #FFF;

// GOV.UK customisation.
$govuk-global-styles: true;
$govuk-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$govuk-font-family-tabular: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$govuk-brand-colour: $hackney-green;
