@import "../../../assets/scss/vars.scss";
@import "~govuk-frontend/all";

////////////////////

button {
    @include govuk-focusable;
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
    text-align: left;
    text-decoration: underline;
}
