<!-- Accessibility link to skip to the main content. -->
<a (click)="jumpToContent($event)" href="" class="govuk-skip-link">Skip to main content</a>

<!-- PAGE HEADER. -->
<app-layout-header></app-layout-header>

<div class="container">
    <app-route-loading></app-route-loading>

    <!-- MAIN CONTENT AREA. -->
    <app-layout-content>

        <div class="govuk-main-wrapper" #content tabindex="-1">
            <router-outlet></router-outlet>
        </div>

    </app-layout-content>
</div>

<!-- PAGE FOOTER. -->
<app-layout-footer></app-layout-footer>
