$page-header-bg-colour: #252525 !default;
$page-header-testing-bg-colour: #252544 !default;
$page-header-text-colour: #EEE !default;
$page-header-border-width: 4px !default;
$page-header-border-colour: #999 !default;
$page-header-padding: 2rem !default;

////////////////////

@import "../../../assets/scss/vars.scss";
@import "~govuk-frontend/settings/typography-font";
@import "../../../assets/scss/mixins/hackney-stripes";

.page__header {
    @include hackney-stripes--bottom;

    background: $page-header-bg-colour;
    color: $page-header-text-colour;
    padding: $page-header-padding;

    &.page__header--test-site {
        background: $page-header-testing-bg-colour;
    }

    p {
        color: inherit;
    }
}
@media (min-width: 520px) {
    .page__header__inner {
        display: flex;
        align-items: center;
    }
}

.page__header__column--logo {
    flex-basis: 300px;
    /* see https://stackoverflow.com/.../what-are-the-differences-between-flex-basis-and-width */
}

.page__header__column--title {
    flex-grow: 1;
}

.page__header__column--id {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.page__header__logo {
    max-height: 40px;
}
