<h1 class="govuk-heading-l">Callback</h1>

<div class="govuk-form-group govuk-!-margin-bottom-7">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-label govuk-!-font-weight-bold">Who should make a callback?</h2>
        </legend>

        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-width-one-half" for="recipient">
                Recipient or Officer email address
            </label>
            <app-user-lookup [(model)]="form.recipient" [disabled]="sending" placeholder="Begin typing a name or email address"></app-user-lookup>
        </div>

    </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-7">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-label govuk-!-font-weight-bold">Who should they call?</h2>
        </legend>

        <!-- The caller's name. -->
        <p class="govuk-body">
            This caller: <app-current-caller class="govuk-!-font-weight-bold"></app-current-caller>
        </p>

        <!-- The associated tenancy reference. -->
        <p class="govuk-body" *ngIf="form.tenancyReference">
            Tenancy reference: <b>{{ form.tenancyReference }}</b>
        </p>

        <!-- Select from a list of the caller's telephone numbers. -->
        <app-comms-telephone (selectedChange)="numberSelected($event)" [disabled]="sending"></app-comms-telephone>
    </fieldset>
</div>

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-label govuk-!-font-weight-bold">What is the call about?</h2>
        </legend>

        <!-- Call type and reason. -->
        <app-call-nature-dropdown class="govuk-!-margin-bottom-7" (changed)="natureSelected($event)"
            [disabled]="sending"></app-call-nature-dropdown>

        <!-- A message accompanying the callback request. -->
        <div class="govuk-form-group">
            <label class="govuk-label govuk-visually-hidden govuk-!-width-one-half" for="message">
                Enter a message
            </label>
            <textarea class="govuk-textarea govuk-!-width-one-half" id="message" name="message" rows="5"
                placeholder="Enter a message..." [(ngModel)]="form.message" [disabled]="sending"></textarea>
        </div>
    </fieldset>
</div>

<button class="govuk-button" type="button" name="button" (click)="saveCallbackRequest()" [disabled]="!canSave()">Send</button>

<app-success-panel *ngIf="completed">
    <p class="govuk-body govuk-!-margin-bottom-0">
        Callback request has been sent.
    </p>
</app-success-panel>

<app-error-panel class="govuk-!-margin-bottom-5" *ngIf="error">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Failed to save</h2>
    <p class="govuk-body">
        There was a problem adding a callback note to this call. Please try again.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-0">If this continues you will need to contact ICT.</p>
</app-error-panel>
