@import "../../../assets/scss/vars.scss";
@import "~govuk-frontend/helpers/colour";


$dialogue-border: 4px solid govuk-colour("black") !default;
$dialogue-bg-colour: govuk-colour("white") !default;
$dialogue-max-width: 600px !default;
$dialogue-padding: 2em !default;
$dialogue-z-index: 30 !default;

////////////////////

.dialogue {
    background: rgba(0,0,0,.5);
    border: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: $dialogue-z-index;
}

.dialogue__box {
    background: $dialogue-bg-colour;
    border: $dialogue-border;
    padding: $dialogue-padding;
    position: fixed;
    left: 50%;
    max-width: $dialogue-max-width;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: $dialogue-z-index + 1;
}

.dialogue__buttons {
    button {
        margin-right: .5rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

.dialogue__button--close {
    font-weight: 700;
    padding: 15px 30px;
}
