<h1 class="govuk-heading-l">Transaction complete</h1>

<app-value-list emphasise="value">

    <app-value-list-label>Authorisation code</app-value-list-label>
    <app-value-list-value>{{ data.authorisationcode }}</app-value-list-value>

    <app-value-list-label>Receipt number</app-value-list-label>
    <app-value-list-value>{{ data.receiptnumber }}</app-value-list-value>

    <app-value-list-label>Transaction type</app-value-list-label>
    <app-value-list-value>{{ data.transactiontype }}</app-value-list-value>

    <app-value-list-label>Merchant number</app-value-list-label>
    <app-value-list-value>{{ data.merchantnumber }}</app-value-list-value>

    <app-value-list-label>Merchant (transaction) ID</app-value-list-label>
    <app-value-list-value>{{ data.merchanttid }}</app-value-list-value>

    <app-value-list-label>Data</app-value-list-label>
    <app-value-list-value>{{ data.data }}</app-value-list-value>

    <app-value-list-label>Date</app-value-list-label>
    <app-value-list-value>{{ data.date }}</app-value-list-value>

    <app-value-list-label>Amount</app-value-list-label>
    <app-value-list-value>{{ data.amount | currency:'GBP' }}</app-value-list-value>

    <app-value-list-label>Administration charge</app-value-list-label>
    <app-value-list-value>{{ data.administrationcharge | currency:'GBP' }}</app-value-list-value>

    <app-value-list-label>Processed?</app-value-list-label>
    <app-value-list-value>{{ wasSuccessful() ? 'Yes' : 'No' }}</app-value-list-value>

</app-value-list>
