<div class="note-form__container" [ngStyle]="containerStyle" *ngIf="shouldShow()">

    <!-- Toggle button for displaying the form. -->
    <button class="note-form__container__toggle" type="button" name="button" (click)="toggle()">
        Add a note
    </button>

    <div *ngIf="expanded">
        <form class="note-form__container__form" #commentForm="ngForm" (ngSubmit)="saveNote()">

            <!-- Caller details. -->
            <app-value-list class="govuk-body-s">
                <app-value-list-label>Call ID</app-value-list-label>
                <app-value-list-value>
                    {{ getCallID() }}
                </app-value-list-value>
                <app-value-list-label>Caller</app-value-list-label>
                <app-value-list-value>
                    <span *ngIf="!isCallerAnonymous()">{{ getCallerName() }}</span>
                    <em *ngIf="isCallerAnonymous()">anonymous</em>
                </app-value-list-value>
            </app-value-list>

            <!-- Comment field. -->
            <div class="govuk-form-group">
                <label class="govuk-label" for="more-detail">Comments</label>
                <textarea class="govuk-textarea note-form__field" id="more-detail" required name="comment" tabindex="1"
                    [(ngModel)]="comment" [disabled]="saving" rows="4" aria-describedby="more-detail-hint"></textarea>
            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button govuk-!-margin-bottom-0 govuk-!-margin-right-1" tabindex="2" [disabled]="!canSaveNote()">
                    Save
                </button>
                <a class="link-button govuk-!-margin-bottom-0" tabindex="3" routerLink="/notes">View old notes</a>
            </div>

        </form>
    </div>
</div>
