<div class="note-form__container" [ngStyle]="containerStyle" *ngIf="shouldShow()">

    <!-- Toggle button for displaying the form. -->
    <button class="note-form__container__toggle" type="button" name="button" (click)="toggle()">
        Add a note
    </button>

    <div *ngIf="expanded">
        <form class="note-form__container__form" #commentForm="ngForm" (ngSubmit)="saveComment()">
            <div class="govuk-form-group">

                <!-- Caller details. -->
                <dl class="value-list value-list--horizontal govuk-body">
                    <dt class="value-list__label">Caller</dt>
                    <dd class="value-list__value">
                        <span *ngIf="!isCallerAnonymous()">{{ getCallerName() }}</span>
                        <em *ngIf="isCallerAnonymous()">anonymous</em>
                    </dd>
                </dl>

                <!-- Comment field. -->
                <label class="govuk-label" for="more-detail">Comments</label>
                <textarea class="govuk-textarea note-form__field" id="more-detail" required name="comment" [(ngModel)]="comment" rows="4" aria-describedby="more-detail-hint"></textarea>

            </div>
            <div class="govuk-form-group">
                <a routerLink="/notes">View old notes</a>
            </div>
            <button type="submit" class="govuk-button govuk-!-margin-bottom-0">
                Save
            </button>
        </form>
    </div>
</div>
