@import '../../../assets/scss/vars';

$note-form-width: 30% !default;
$note-form-max-width: 500px !default;
$note-form-top: 20px !default;
$note-form-z-index: 90 !default;
$note-form-bg-colour: $white !default;
$note-form-border: 2px solid $dark-grey !default;
$note-form-text-colour: $dark-grey !default;
$note-form-padding: 1rem !default;
$note-form-field-height: 15rem !default;

$note-form-toggle-bg-colour: rgba($white, .75) !default;
$note-form-toggle-text-colour: $dark-grey !default;
$note-form-toggle-padding: 1rem !default;

////////////////////

.note-form__container {
    max-width: $note-form-max-width;
    position: absolute;
    right: 0;
    top: $note-form-top;
    width: $note-form-width;
    z-index: $note-form-z-index;
    text-align: right;
}

.note-form__container__toggle {
    background: $note-form-toggle-bg-colour;
    color: $note-form-toggle-text-colour;
    display: inline-block;
    padding: $note-form-toggle-padding;
}

.note-form__container__form {
    background: $note-form-bg-colour;
    border: $note-form-border;
    color: $note-form-text-colour;
    border-right: none;
    padding: $note-form-padding;
    text-align: left;
}

.note-form__field {
    max-height: $note-form-field-height;
}
