<div class="notes govuk-!-margin-bottom-2">

    <!-- Table of notes. -->
    <table class="govuk-table govuk-!-margin-bottom-1">
        <colgroup>
            <col width="180">
            <col width="40">
        </colgroup>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Date</th>
                <th class="govuk-table__header" scope="col"></th>
                <th class="govuk-table__header" scope="col">Caller</th>
                <th class="govuk-table__header" scope="col">Type</th>
                <th class="govuk-table__header" scope="col">Reason</th>
                <th class="govuk-table__header" scope="col">Note</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row" *ngFor="let row of _filtered; trackBy: trackByMethod">
                <td class="govuk-table__cell" scope="row">{{ row.createdOn }}</td>
                <td class="govuk-table__cell">
                    <span class="call-type" [ngClass]="getNoteTypeBadgeClass(row)">
                        <span class="text govuk-body-s">{{ row.notesType }}</span>
                    </span>
                </td>
                <td class="govuk-table__cell">{{ getTenantName(row.contactId) }}</td>
                <td class="govuk-table__cell">{{ row.callType }}</td>
                <td class="govuk-table__cell">{{ row.callReasonType }}</td>
                <td class="govuk-table__cell">{{ row.notes }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Loading prompt. -->
    <div *ngIf="_loading" class="loading">
        Loading...
    </div>

</div>
