@import "../../../assets/scss/vars.scss";
@import "../helper/helper.component.scss";
@import "~govuk-frontend/all";

$call-type-automatic-bg-colour: $govuk-border-colour !default;
$call-type-automatic-text-colour: $govuk-text-colour !default;

$call-type-manual-bg-colour: $govuk-text-colour !default;
$call-type-manual-text-colour: govuk-colour("white") !default;

$call-type-diary-bg-colour: govuk-colour("light-green") !default;
$call-type-diary-text-colour: govuk-colour("white") !default;

$call-type-helper-text-padding: .5rem !default;
$call-type-helper-text-width: 140px !default;

////////////////////

.call-type {
    position: relative;

    &:before {
        @include helper-icon;
        line-height: $helper-icon-height;
        min-width: $helper-icon-height;
        padding: 0;
        text-transform: uppercase;
    }
    &:hover {
        > .text {
            display: block;
        }
    }

    .text {
        @include helper-text($call-type-helper-text-width, $call-type-helper-text-padding);
        text-align: center;
    }
}

.call-type--automatic {
    &:before {
        background: $call-type-automatic-bg-colour;
        color: $call-type-automatic-text-colour;
        content: "A";
    }
}

.call-type--manual {
    &:before {
        background: $call-type-manual-bg-colour;
        color: $call-type-manual-text-colour;
        content: "M";
    }
}

.call-type--diary {
    &:before {
        background: $call-type-diary-bg-colour;
        color: $call-type-diary-text-colour;
        content: "D";
    }
}

.column__notes {
    white-space: pre-line;
}
