<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div *ngIf="!existing_call">

            <!-- Search for contact details. -->
            <h2 class="govuk-heading-l">Caller details</h2>

            <!-- Name search. -->
            <app-panel class="govuk-!-margin-bottom-5">

                <form #searchName="ngForm" class="govuk-form-group govuk-!-margin-bottom-2"
                      [class.disabled]="disable_identify_caller" (ngSubmit)="searchByName()">
                    <label class="govuk-label govuk-!-font-weight-bold" for="firstname">
                        Search by name:
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds govuk-!-margin-right-1 govuk-!-margin-bottom-1"
                        id="firstname" name="firstName" type="text"
                        placeholder="First name" ngModel [disabled]="!canUseSearch()" minlength="2">
                    <input class="govuk-input govuk-!-width-two-thirds govuk-!-margin-right-1" id="lastname" name="lastName" type="text"
                        placeholder="Last name" ngModel [disabled]="!canUseSearch()" minlength="2">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0" [disabled]="!canPerformNameSearch()">
                        Search
                    </button>
                </form>
            </app-panel>

            <!-- Postcode search. -->
            <app-panel class="govuk-!-margin-bottom-5">
                <form #searchPostcode="ngForm" class="govuk-form-group govuk-!-margin-bottom-2"
                      [class.disabled]="disable_identify_caller" (ngSubmit)="searchByPostcode()">
                    <label class="govuk-label govuk-!-font-weight-bold" for="postcode">
                        Search by postcode:
                    </label>
                    <input class="govuk-input govuk-!-width-one-half govuk-!-margin-right-1" id="postcode" name="postcode" type="text"
                        ngModel required [disabled]="!canUseSearch()">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-0" [disabled]="!canPerformPostcodeSearch()">
                        Search
                    </button>
                </form>

            </app-panel>

            <!-- Or... -->
            <app-or [class.disabled]="disable_identify_caller"></app-or>

            <!-- Option to mark the caller as anonymous. -->
            <p class="govuk-body">
                <button class="link-button govuk-!-margin-bottom-0 govuk-!-margin-right-1" (click)="anonymousSelected()">
                    Caller is anonymous
                </button>
                <app-helper>
                    Select this option if the caller wants to remain anonymous or is a former tenant.<br>
                    Anonymous callers will not be able to access sensitive information.
                </app-helper>
            </p>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        </div>

        <router-outlet></router-outlet>

    </div>

</div>
