@import "../../../../assets/scss/vars.scss";
@import "~govuk-frontend/govuk/settings/typography-font";

$agent-avatar-size: 3rem !default;
$agent-spacing: 2rem !default;
$agent-avatar-spacing: .5rem !default;
$agent-text-width: 15rem !default;

////////////////////

:host {
    color: inherit;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: $agent-spacing;
}

.agent__avatar {
    width: $agent-avatar-size;
    height: $agent-avatar-size;
    margin-right: $agent-avatar-spacing;
}

.agent__text {
    color: inherit;
    margin: 0;
    min-width: $agent-text-width;
}

.agent__name {
    color: inherit;
    display: block;
    font-weight: $govuk-font-weight-bold;
    margin: 0;
}
