<form (submit)="sendMessage($event)">

    <!-- Select the form to send. -->
    <app-comms-templates title="Select an item to send:" includeSensitive="true" (selected)="selectedOption($event)"></app-comms-templates>

    <!-- Select the communications method. -->
    <!-- Which methods are available will depend on the selected form (GOV.UK Notify template). -->
    <app-comms-method-select
        [disableEmail]="!isMethodAvailable(CONTACT_METHOD.METHOD_EMAIL)"
        [disableSMS]="!isMethodAvailable(CONTACT_METHOD.METHOD_SMS)"
        [disablePost]="!isMethodAvailable(CONTACT_METHOD.METHOD_POST)"
        (selected)="onSelectCommsMethod($event)"
        (invalidated)="onInvalidCommsMethod()"></app-comms-method-select>

    <!-- Previewing the message to be sent. -->
    <div *ngIf="shouldShowPreview()">
        <h2 class="govuk-label govuk-!-font-weight-bold">Preview message</h2>
        <app-notify-template-preview [(settings)]="preview"></app-notify-template-preview>
    </div>

    <!-- Send the message to the caller. -->
    <button type="submit" class="govuk-button" *ngIf="shouldShowSendButton()">
        Send
    </button>

    <!-- Confirmation modal. -->
    <app-dialogue [(show)]="modal.confirmed" [buttonText]="'Done'">
        Message sent successfully.
    </app-dialogue>

    <app-dialogue [(show)]="modal.error">
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <span class="govuk-warning-text__text govuk-!-font-size-24 govuk-!-font-weight-bold">
                There was a problem with sending the message.
            </span>
        </div>
    </app-dialogue>

    <!-- Data protection Act (DPA) questions prompt. -->
    <app-dpa-dialogue [(show)]="modal.dpa" buttonText="Close">
        <app-dialogue-title>Data Protection Act questions</app-dialogue-title>

        <div class="govuk-grid-row">

            <!-- The tenancy address. -->
            <div class="govuk-grid-column-one-third" [innerHtml]="caller.getPostalAddressHTML()"></div>

            <!-- DPA questions relating to the tenancy address(?). -->
            <div class="govuk-grid-column-two-thirds">
                <dl class="value-list value-list--horizontal govuk-body-s">
                    <dt class="value-list__label">Payment reference number</dt>
                    <dd class="value-list__value">...</dd>
                    <dt class="value-list__label">Date of last payment and amount</dt>
                    <dd class="value-list__value">...</dd>
                    <dt class="value-list__label">Amount last paid</dt>
                    <dd class="value-list__value">...</dd>
                    <dt class="value-list__label">Month and year their tenancy began</dt>
                    <dd class="value-list__value">...</dd>
                    <dt class="value-list__label">Preferred payment method</dt>
                    <dd class="value-list__value">...</dd>
                </dl>
            </div>

        </div>

        <h3 class="govuk-heading-s">Tenant details</h3>
        <div class="govuk-grid-row">

            <!-- The tenant's name (and optional advocate's name). -->
            <div class="govuk-grid-column-full govuk-body">
                {{ caller.getName() }}
            </div>

            <!-- Contact details. -->
            <div class="govuk-grid-column-one-half govuk-body-s">
                <span class="value-list value-list--horizontal">
                    <span class="value-list__label">Telephone</span>
                    <span class="value-list__value">
                        <span class="value-list__value__line" *ngFor="let number of caller.getTelephoneNumbers()">
                            {{ number }}
                        </span>
                        <em *ngIf="caller.hasNoTelephoneNumbers()">none</em>
                    </span>

                    <span class="value-list__label">Email</span>
                    <span class="value-list__value">
                        <span class="value-list__value__line" *ngFor="let email of caller.getEmailAddresses()">
                            {{ email }}
                        </span>
                        <em *ngIf="caller.hasNoEmailAddresses()">none</em>
                    </span>
                </span>
            </div>

            <!-- DPA questions for the tenant. -->
            <div class="govuk-grid-column-one-half govuk-body-s">
                <dl class="value-list value-list--horizontal">
                    <dt class="value-list__label">National Insurance number</dt>
                    <dd class="value-list__value">...</dd>
                    <dt class="value-list__label">Date of birth</dt>
                    <dd class="value-list__value">...</dd>
                </dl>
            </div>

        </div>
    </app-dpa-dialogue>

</form>
