<!-- PAGE HEADER. -->
<header class="page__header" role="banner" data-module="header">
    <div class="page__header__inner">

        <!-- Hackney logo. -->
        <div class="page__header__column page__header__column--logo">
            <img class="page__header__logo" src="assets/img/hackney-logo-white.png" alt="Hackney">
        </div>

        <div class="page__header__column page__header__column--title">
            <p class="govuk-!-font-size-24">NCC - CRM</p>
        </div>

        <div class="page__header__column">
            <!-- Display the current caller's name (if present) -->
            <app-current-caller></app-current-caller>
        </div>

    </div>
</header>

<div class="container">
    <app-route-loading *ngIf="loading"></app-route-loading>

    <!-- Navigation menu. -->
    <app-navigation></app-navigation>

    <!-- MAIN CONTENT AREA. -->
    <app-content-area>

        <!-- General back link. -->
        <app-back-link-confirm></app-back-link-confirm>

        <div class="govuk-main-wrapper">
            <router-outlet></router-outlet>
        </div>

        <!-- For for taking notes. -->
        <app-note-form></app-note-form>

    </app-content-area>
</div>


<!-- PAGE FOOTER. -->
<!-- (not in the sketch, but might be useful to have.) -->
<footer class="page__footer">
    <a href="">Help</a>
    <a href="">Contacts</a>
    <a href="">A-Z of Services</a>
</footer>
