<!-- PAGE HEADER. -->
<header class="page__header" role="banner" data-module="header">
    <div class="page__header__inner">

        <!-- Hackney logo. -->
        <div class="page__header__column page__header__column--logo">
            <img class="page__header__logo" src="assets/img/hackney-logo-white.png" alt="Hackney">
        </div>

        <div class="page__header__column page__header__column--title">
            <p class="govuk-!-font-size-24 govuk-!-margin-bottom-1">NCC - CRM</p>
            <app-env-name class="govuk-body-s"></app-env-name>
        </div>

        <div class="page__header__column page__header__column--id">
            <!-- Display the current caller's name (if present) -->
            <app-current-caller></app-current-caller>

            <!-- Display the logged in agent's name and avatar. -->
            <app-agent></app-agent>
        </div>

    </div>
</header>

<div class="container">
    <app-route-loading *ngIf="loading"></app-route-loading>

    <!-- Navigation menu. -->
    <app-navigation *ngIf="loggedIn()"></app-navigation>

    <!-- MAIN CONTENT AREA. -->
    <app-content-area>

        <!-- General back link. -->
        <app-back-link></app-back-link>

        <div class="govuk-main-wrapper">
            <router-outlet></router-outlet>
        </div>

    </app-content-area>
</div>


<!-- PAGE FOOTER. -->
<!-- (not in the sketch, but might be useful to have.) -->
<footer class="page__footer">
    <a href="">Help</a>
    <a href="">Contacts</a>
    <a href="">A-Z of Services</a>
</footer>
