<button type="button" name="button" class="govuk-button" (click)="beginPayment()">Begin payment</button>

<app-dialogue [(show)]="show" [buttonText]="'All right then'" (closed)="handleClose()">
    <app-dialogue-title>Example title</app-dialogue-title>
    This is a dialogue.
</app-dialogue>

<button class="govuk-button" type="button" name="button" (click)="openModal()">Show dialogue...</button>

<app-comms-templates (selected)="selectedTemplate($event)"></app-comms-templates>
<app-comms-templates title="Custom title..." (selected)="selectedTemplate($event)"></app-comms-templates>
<app-comms-templates title="Include sensitive templates:" includeSensitive="false" (selected)="selectedTemplate($event)"></app-comms-templates>

<p>
    Helper text demo:
    <app-helper>Some helper text here.</app-helper>
</p>

<app-value-list>

    <app-value-list-label>Some label text here</app-value-list-label>
    <app-value-list-value>0123456</app-value-list-value>

    <app-value-list-label>Another label here</app-value-list-label>
    <app-value-list-value>abcdef</app-value-list-value>

    <app-value-list-label>Yet another here</app-value-list-label>
    <app-value-list-value>---</app-value-list-value>

</app-value-list>

<app-panel>Default panel...</app-panel>
<app-panel boxStyle="true">Box panel...</app-panel>
