/*
FLOATING HEADER TABLE
"Borrowed" from https://www.gov.uk/performance/services.
*/

table.floating-header thead {
    display: table-header-group;
}
table.floating-header thead tr {
    display: inline-table;
    width: 100%;
}
table.floating-header tbody {
    display: table-row-group;
}

@media (min-width: 769px) {
    table.floating-header thead {
        display: block;
    }
    table.floating-header tbody {
        display: block;
        max-height: 30vh;
        overflow-y: auto
    }

    /* customising the scrollbar. */
    table.floating-header tbody::-webkit-scrollbar {
        -webkit-appearance: none
    }
    table.floating-header tbody::-webkit-scrollbar:vertical {
        width: 11px
    }
    table.floating-header tbody::-webkit-scrollbar:horizontal {
        height: 11px
    }
    table.floating-header tbody::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white;
        background-color: rgba(0,0,0,0.5)
    }
    table.floating-header tbody::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 8px
    }
}