@import "../../../../assets/scss/vars.scss";
@import "~govuk-frontend/govuk/settings/all";
@import "~govuk-frontend/govuk/tools/all";
@import "~govuk-frontend/govuk/helpers/focused";

////////////////////

button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
    text-align: left;
    text-decoration: underline;

    &:hover {
        @include govuk-focused-text;
    }
}
