@import "../../../../assets/scss/vars.scss";
@import "~govuk-frontend/settings/colours-applied";
@import "~govuk-frontend/settings/measurements";
@import "~govuk-frontend/helpers/focusable";

////////////////////

button {
    @include govuk-focusable;
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
    text-align: left;
    text-decoration: underline;
}
