<nav class="page__menu">

    <div class="view-only-message govuk-!-margin-bottom-5" *ngIf="view_only">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-3">View Only</h2>
        <p class="govuk-body-s govuk-!-margin-bottom-0">Calls and notes will not be created.</p>
    </div>

    <ul class="navigation__list">

        <!-- "Home" page. -->
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a [routerLink]="page_defs.PREVIOUS_CALLS.route" [class.disabled]="disable_previous_calls || hasCallStarted()">
                {{ page_defs.PREVIOUS_CALLS.label }}
            </a>
        </li>

        <li class="navigation__separator"></li>

        <!-- Start new call. -->
        <!-- <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a [routerLink]="page_defs.LOG_CALL.route" [class.disabled]="hasCallStarted()">
                {{ page_defs.LOG_CALL.label }}
            </a>
        </li> -->
        <li class="navigation__item">
            <a [routerLink]="page_defs.IDENTIFY.route" [class.disabled]="hasCallStarted()">
                {{ page_defs.LOG_CALL.label }}
            </a>
        </li>

        <!-- Caller details (formerly Identify caller). -->
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a [routerLink]="getIdentifyRoute()">
                {{ page_defs.IDENTIFY.label }}
            </a>
        </li>

        <li class="navigation__separator"></li>

        <li class="navigation__heading">This call:</li>

        <!-- View caller notes. -->
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a [routerLink]="page_defs.VIEW_NOTES.route" [class.disabled]="!canViewNotes()">
                {{ page_defs.VIEW_NOTES.label }}
            </a>

            <!-- For for taking notes. -->
            <button #notesButton class="navigation__notes" type="button" name="button" *ngIf="showNotesButton"
                (click)="toggleAddNote()">Add note</button>
                {{ showNotesButton }}
        </li>

        <!-- Send emails, texts and letters. -->
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a [routerLink]="page_defs.COMMS.route" [class.disabled]="!isCallActive()">
                {{ page_defs.COMMS.label }}
            </a>
        </li>

        <!-- View/pay rent. -->
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a [routerLink]="getRentRoute()" [class.disabled]="!isCallerAbleToPay()">
                {{ page_defs.RENT.label }}
            </a>
        </li>

        <!-- Request a callback. -->
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a [routerLink]="page_defs.REQUEST_CALLBACK.route" [class.disabled]="!isCallbackPossible()">
                {{ page_defs.REQUEST_CALLBACK.label }}
            </a>
        </li>

        <li class="navigation__spacer"></li>

        <!-- End call. -->
        <li class="navigation__item" *ngIf="isCallActive()">
            <a (click)="endCall()">
                End call
            </a>
        </li>

        <li class="navigation__spacer"></li>

    </ul>

    <!-- Feedback button. -->
    <a class="govuk-button" href="https://goo.gl/forms/Jd0QbfcqpmyDu6lh1" target="_blank">
        Report a problem / provide feedback
    </a>

    <!-- Editorial essage to go here. -->
    <app-editorial></app-editorial>

    <!-- A link to the training document. -->
    <p class="govuk-body">
        <a href="https://docs.google.com/document/d/19iQoMf4yZQduMiNLlnf8vcP1NvA6fTDE1xMspq_Bs6s/edit?usp=sharing" target="_blank">
            Training material
        </a>
    </p>

    <!-- A dialogue for the call type and reason(s). -->
    <app-call-nature-dialogue [(show)]="endingCall" (confirmed)="confirmEndCall()"></app-call-nature-dialogue>

    <app-dialogue [(show)]="notePending">
        <p class="govuk-body">You must complete or cancel your current note before ending the call.</p>
    </app-dialogue>

</nav>
