<nav class="page__menu">
    <ul class="navigation__list">
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a routerLink="/log-call">Start New Call</a>
        </li>
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a routerLink="/caller-details">Caller Identification</a>
        </li>
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a routerLink="/log-additional" disabled>Additional Call Reason</a>
        </li>
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a routerLink="/notes" disabled>Caller Notes</a>
        </li>
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a routerLink="/comms">General Communications</a>
        </li>
        <li class="navigation__item" routerLinkActive="navigation__item--active">
            <a routerLink="/payment" disabled>Rent</a>
        </li>
        <li class="navigation__item" *ngIf="isCallActive()">
            <a (click)="endCall()">End call</a>
        </li>
    </ul>

    <a class="govuk-button" href="https://goo.gl/forms/Jd0QbfcqpmyDu6lh1" target="_blank">Report a problem / provide feedback</a>

    <!-- Message to go here. -->
    <app-editorial></app-editorial>
</nav>
