<div class="message govuk-!-padding-5 govuk-!-margin-bottom-5">

    <!-- Failed login. -->
    <ng-template [ngIf]="isAccessError()">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Log in failed</h1>
        <p class="govuk-heading-m govuk-!-margin-0">Try again. If it continues, raise the issue with ICT.</p>
    </ng-template>

    <!-- Timed out message. -->
    <ng-template [ngIf]="isTimeoutError()">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Log in has timed out</h1>
        <p class="govuk-heading-m govuk-!-margin-0">Try again. If it continues, raise the issue with ICT.</p>
    </ng-template>

    <!-- Not allowed to access the site. -->
    <ng-template [ngIf]="isPermissionError()">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">You do not have permission to access this site</h1>
        <p class="govuk-heading-m govuk-!-margin-0">If you think you should have access, speak to your Team Leader or Manager to give you access.</p>
    </ng-template>

</div>

<button class="govuk-button" type="button" name="button" *ngIf="!isPermissionError()" (click)="retry()">
    Try again
</button>
