$dialogue-max-width: 900px !default;
$call-nature-dialogue-width: $dialogue-max-width;

@import "../dialogue/dialogue.component";

.dialogue__box {
    min-width: 600px;
    padding: 0;
    width: $call-nature-dialogue-width;
}

.dialogue__buttons {
    padding: 0 $dialogue-padding $dialogue-padding;
}

.dialogue__text {
    max-height: 60vh;
    overflow: auto;
    padding: ($dialogue-padding / 2) $dialogue-padding 0;
}
