@import '../../../../assets/scss/vars';
@import "~govuk-frontend/helpers/colour";

$note-form-width: 30% !default;
$note-form-max-width: 500px !default;
$note-form-top: 20px !default;
$note-form-z-index: 20 !default;
$note-form-bg-colour: $white !default;
$note-form-border-colour: $dark-grey !default;
$note-form-drag-title-colour: $govuk-border-colour !default;
$note-form-border-width: 2px !default;
$note-form-text-colour: $dark-grey !default;
$note-form-padding: 1rem !default;
$note-form-field-height: 15rem !default;

$note-form-close-size: 2rem !default;
$note-form-close-offset: 1rem !default;

////////////////////

:host {
    max-width: $note-form-max-width;
    position: absolute;
    width: 100%;
    z-index: $note-form-z-index;
}

.form {
    background: $note-form-bg-colour;
    border: $note-form-border-width solid $note-form-border-colour;
    color: $note-form-text-colour;
    padding: $note-form-padding;

    &.cursor-draggable {
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }
}

.drag-bar {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: calc(-#{$note-form-padding} + #{$note-form-border-width});
    margin-bottom: .5rem;

    .is-minimised & {
        margin-bottom: 0;
    }
}

.drag-bar__title {
    background: $note-form-drag-title-colour;
    display: block;
    flex-grow: 1;
    padding: .2rem .5em;
}


.form__close,
.form__minimise,
.form__restore {
    cursor: pointer;
    font-size: $note-form-close-size;
    display: block;
    text-align: center;
    width: $note-form-close-size;
    height: $note-form-close-size;
    line-height: $note-form-close-size;
}

.note-form__field {
    max-height: $note-form-field-height;
}

.note-form__view-notes {
    text-decoration: underline;
}

.is-anonymous {
    font-style: italic;
}
